body {
	margin: 0;
	padding: 8rem 0 0 0;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 10px;
	background: #232526; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#414345,
		#232526
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#414345,
		#232526
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html {
	margin: 0;
	padding: 0;
}

h1,
h2 {
	font-family: 'Bangers', cursive;
	letter-spacing: 2px;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
	margin-bottom: 0.5rem;
}

a:-webkit-any-link {
	text-decoration: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: border-box;
}
